.costum {
  padding: 10rem 0;
  .c__content__left {
    width: 28.8rem;
    height: 21.4rem;
    background: $bg_kvadrat;
    margin: 0 auto 6rem;
  }
  .h2_and_line {
    max-width: 28.8rem;
    margin: 0 auto;
    position: relative;
    h2 {
      color: $color_text_black;
      font-size: 4rem;
      font-weight: 700;
      line-height: 5.2rem;
      margin-bottom: 2.4rem;
    }
    img {
      width: 14rem;
      position: absolute;
      right: 1rem;
      bottom: 0.3rem;
      z-index: -1;
    }
  }
  p {
    color: #212529;
    font-family: $font_montser;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
    margin-bottom: 6rem;
    text-align: center;
  }
  button {
    width: 17rem;
    margin: 0 auto;
    font-family: $font_montser;
    padding: 2rem 4rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .costum {
    overflow: hidden;
    padding: 14rem 0;
    .c__content__left {
      width: 53.4rem;
      height: 39.7rem;
    }
    .h2_and_line {
      max-width: 72.8rem;
      h2 {
        max-width: 72.8rem;
        @include h2_tel_2ga;
      }
      img {
        width: 23.6rem;
        right: -4rem;
        bottom: -1rem;
      }
    }
    p {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: -0.36px;
    }
  }
}

@media screen and (min-width: 1152px) {
  .costum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .c__content__left {
      width: 53.4rem;
      height: 39.7rem;
      margin: 0;
    }
    .h2_and_line {
      max-width: 49.4rem;
      h2 {
        max-width: 49.4rem;
        @include h2_comp_1152;
        text-align: start;
        margin-bottom: 3rem;
      }
      img {
        width: 35.5rem;
        right: 14rem;
        bottom: -2.5rem;
      }
    }
    p {
      max-width: 49.4rem;
      @include p_fonts;
      text-align: start;
    }
    button {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .costum {
    .c__content__left {
      width: 67rem;
      height: 49.9rem;
    }
    .h2_and_line {
      max-width: 64.6rem;
      h2 {
        max-width: 64.6rem;
        @include h2_comp_1440;
      }
      img {
        width: 46rem;
        right: 18rem;
        bottom: 0rem;
      }
    }
    p {
      max-width: 64.6rem;
    }
  }
}

@media screen and (min-width: 1920px) {
    .costum {
        .c__content__left {
          width: 71.4rem;
          height: 53.2rem;
        }
        .h2_and_line {
          max-width: 66.9rem;
          h2 {
            max-width: 66.9rem;
            @include h2_comp_1920;
          }
          img {
            width: 46rem;
            right: 20rem;
            bottom: -2rem;
          }
        }
        p {
          max-width: 66.9rem;
        }
      }
}
